html {
  padding: 0;
  margin: 0;
  font-size: $font-size-base;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 1.8rem;
  color: $color-corporate;
  background-color: $color-bg;
}

.hero {
  /* <span>Photo by <a href="https://unsplash.com/@pankajpatel?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Pankaj Patel</a> on <a href="https://unsplash.com/collections/2284668/desarrollo-web-%2F-web-developer?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> */

  @include bg-image("../images/hero1.jpg");
  min-height: 24.8rem;
  padding: 3rem;
  color: $color-masterbrand;
  text-align: center;

  @include desktop {
    min-height: 34rem;
  }
}

.hero__titulo {
  margin: 0 0 3rem;

  @include desktop {
    margin: 4rem 0;
  }
}

.hero__slogan {

  @include desktop {
    margin-bottom: 4rem;
  }
}

/* Botones */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 18rem;
  height: 4rem;
  padding: 1.5rem 3rem;
  margin: 3rem auto 0;
  text-decoration: none;
  border: none;
  border-radius: $border-radius;

  /* mpodificadores */
  &--black {
    color: $text-button;
    background-color: $bg-button;
    border: 2px solid $text-button;
  }

  &--white {
    color: $bg-button;
    background-color: $text-button;
    border: 2px solid $bg-button;
  }
}

.button__texto {
  text-transform: uppercase;
}

/* Botón hamburguesa */
.burguer-boton {
  position: fixed;
  top: 4px;
  left: 5px;
  z-index: 4;
  width: 45px;
  height: 45px;
  font-size: 2.8rem;
  line-height: 45px;
  text-align: center;
  background-color: rgba(255,255,255,.9);
  border-radius: $border-radius-iconos;

  @include tablet {
    display: none;
  }
}

/* Menú de navegación principal */
.main-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  margin-left: -100vw;
  background-color: $color-bg;
  border-radius: $border-radius;
  box-shadow: 0 0 6px $shadow;
  transition: all .3s ease;

  @include tablet {
    position: sticky;
    position: 0;
    width: 100%;
    max-width: 92rem;
    height: auto;
    margin: $bloque-centrado;
    background-color: $color-masterbrand;
  }
}

/* La clase is-active se añade y elimina dinamicamente con javascript al hacer
clicK en el botón hamburguesa y en los enlaces del menu para anchos inferiores a 730px */
.main-nav.is-active {
  margin-left: 0;

  /* Si cambiamos el ancho del dispositivo necesitamos reestablecer el margen izquierdo */

  @include tablet {
    margin-left: auto;
  }
}

.main-nav__list {
  width: 100%;
  padding: 0;
  margin: 6rem 0;
  font-weight: bold;
  text-align: $center;
  text-transform: uppercase;
  list-style-type: none;
  border: 2px solid $color-border;

  @include tablet {
    display: grid;
    width: 100%;
    max-width: 92rem;
    margin: $bloque-centrado;
    grid-template-columns: repeat(5, 1fr);
    border: none;
  }
}

.main-nav__item {
  padding: 1.5rem;
  margin: .5rem 0;
  border: 1px solid $color-corporate;

  @include tablet {
    padding-top: 3rem;
    border: none;
  }
}

.main-nav__link {
  color: $negro;
  text-decoration: none;
}


/* Stack correspondiente al main se le aplica un  ancho maximo de 92rem a
partir del breackpoint de 920px */
.stack {
  padding: 1rem;
  text-align: $align-stack;

  @include desktop {
    max-width: 92rem;
    margin: $bloque-centrado;
  }
}

.stack__doing {
  display: grid;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  @include desktop {
    margin: 2rem 0;
    gap: 5rem;
    text-align: $left;
  }
}

.stack__titulo {

  @include desktop {

    @if $desktop {
      text-align: $left;
    }

    @else {
      text-align: $center;
    }
  }
  text-align: $align-title;
}

.stack__work,
.stack__training,
.stack__portfolio {
  margin-top: 3rem;
  border-top: 1px solid $color-corporate;

  @include tablet {
    padding-top: 6rem;
  }
}

.head {
  text-align: $align-head;
}

.head__extracto {

  @include desktop {
    margin: 2.6rem 6.4rem;
  }
}

.stack__training,
.stack__portfolio {
  /* Se incluye el mixin cards para 4 cards */

  @include cards(4);
}


.stack__work {
  /* Se incluye el mixin cards para 1 card */

  @include cards(1);
}

.card {
  display: grid;
  margin-bottom: 2rem;
  background-color: $color-masterbrand;
  grid-template-columns: 1fr 4fr;
  border-radius: $border-radius;
  box-shadow: 3px 3px 6px $shadow;

  @include small-tablet {
    grid-template-columns: 1fr 6fr;
  }

  @include tablet {
    margin-bottom: 0;
  }
}

.card__aside {
  padding: .7rem 0 0 .7rem;
}


.card__icono {
  padding: 1.3rem;
  font-size: 2.5rem;
  background-color: rgb(234, 234, 234);
  border-radius: $border-radius-iconos;
}

.fa-code-branch {
  width: 5rem;
  padding-left: 1.8rem;
}

.card__body {
  padding-right: 1.8rem;
  padding-left: 1rem;
}

.card__titulo {
  text-align: $align-title;
}

.card__link,
.main-nav__link {
  /* Diferentes estados de los enlaces en cards y navegación principal */
  &:link {
    color: $color-link;
    text-decoration: none;
    border-bottom: 2px solid $color-border;
  }

  &:visited {
    color: $color-visited;
  }

  &:hover {
    color: $color-hover;
    border-bottom: none;
  }

  &:active {
    color: $color-active;
  }
}

.card__institution {
  margin-bottom: .7rem;
  text-align: $center;
}

.card__period {
  margin-top: .7rem;
  font-size: 1.4rem;
  font-style: italic;
}

.card__extracto {
  text-align: $left;
}

.card-image {
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
  overflow: hidden;
  vertical-align: top;
  border-radius: $border-radius;
  box-shadow: 3px 3px 6px $negro;

  /* Para los elementos imagen y body del bloque card-image se cambia las propiedades opacity y bottom mediante una transición cuando el ratón pasa por encima del bloque card-image */
  &:hover {
    & .card-image__image {
      opacity: .6;
    }

    & .card-image__body {
      bottom: 0;
    }
  }
}

.card-image__media {
  top: 0;
  left: 0;
  width: 100%;
  line-height: 0;
}

.card-image__image {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: none;
  border-radius: $border-radius;
  opacity: 1;
  transition: opacity .3s;
}

/* Se situa fuera de la vista con bottom -100% y overflow hidden para el bloque card-image. Mediante la transición se situa en bottom 0 y se hace visible en el estado hover del bloque card-image, al retirar el ratón vuelve a posición inicial dejando se ser visible */
.card-image__body {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  color: $blanco;
  background: rgba(10,10,10,.7) none repeat scroll 0 0;
  transition: all .5s ease 0s;
}

.card-image__title,
.card-image__title-link,
.card-image__subtitle,
.card-image__copy {
  margin: .3rem 0;
}

.card-image__title-link {
  display: block;
  padding: 10px 20px 10px 10px;
  font-size: 2.4rem;
  color: $color-masterbrand;
  text-align: $left;
  text-decoration: none;
}

.card-image__subtitle {
  padding: 0 10px 5px;
  font-size: 1.8rem;
  text-align: $left;
}

.card-image__copy {
  padding-left: 1rem;
  font-size: 2rem;
  text-align: $left;
}

.footer {
  padding: 1rem;

  @include desktop {
    max-width: 92rem;
    margin: $bloque-centrado;
  }
}

.footer__stack {
  display: grid;
  margin-top: 2rem;

  @extend .stack__work;
  grid-template-rows: 1fr 1fr;

  @include movil {
    grid-template-rows: 1fr 1.5fr;
  }

  @include small-tablet {
    grid-template-rows: 1fr 2fr;
  }

  @include desktop {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    column-gap: 3rem;
  }
}

.footer__redes,
.footer__video {
  min-width: 0;
}

.footer__redes {
  text-align: $align-redes;
}

/* Se centra el video verticalmente */
.footer__video {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 56.25%;
  margin-top: 3rem;
}

// Hacemos el video  de tamaño flexible */
.video-responsive {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.redes__icono {
  font-size: 4rem;
  color: $negro;
}

.fa-linkedin {
  color: #2c67c0;
}
