html {
  padding: 0;
  margin: 0;
  font-size: $font-size-base;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 1.8rem;
  color: $color-corporate;
  background-color: $color-bg;
}


/* Stack correspondiente al main se le aplica un  ancho maximo de 92rem a
partir del breackpoint de 920px */
.stack {
  padding: 1rem;
  text-align: $align-stack;

  @include desktop {
    max-width: 92rem;
    margin: $bloque-centrado;
  }
}

.stack__doing {
  display: grid;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  @include desktop {
    margin: 2rem 0;
    gap: 5rem;
    text-align: $left;
  }
}

.stack__titulo {

  @include desktop {

    @if $desktop {
      text-align: $left;
    }

    @else {
      text-align: $center;
    }
  }
  text-align: $align-title;
}

.stack__work,
.stack__training,
.stack__portfolio {
  margin-top: 3rem;
  border-top: 1px solid $color-corporate;

  @include tablet {
    padding-top: 6rem;
  }
}

.head {
  text-align: $align-head;
}

.head__extracto {

  @include desktop {
    margin: 2.6rem 6.4rem;
  }
}

.stack__training,
.stack__portfolio {
  /* Se incluye el mixin cards para 4 cards */

  @include cards(4);
}

.stack__work {
  /* Se incluye el mixin cards para 1 card */

  @include cards(1);
}

.redes__icono {
  font-size: 4rem;
  color: $negro;
}

.fa-linkedin {
  color: #2c67c0;
}
