/* Se centra el video verticalmente */
.video {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 56.25%;
  margin-top: 3rem;
}

// Hacemos el video  de tamaño flexible */
.video__responsive {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
